# script for assignment submission
submit.sh

# executables
*.gcda
*.gcno
playdom
unittest1
unittest2
unittest3
unittest4
cardtest1
cardtest2
cardtest3
cardtest4
testme
randomtestadventurer
randomtestcard1
randomtestcard2

# comp files
original.out.txt
/bin/
